.articles {
  padding: 0;

  .art__inner {
    padding: 0 15px 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 730px) {
      padding: 44px 38.5px;
    }

      @media (min-width: 1020px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 35px 0;
      }

    .articles-col {
      background-color: white;
      width: 100%;
      border-radius: 8px;
      padding: 0;
      margin: 15px 0;


      @media (min-width: 615px) {
        margin: 0 0 50px;
      }

      @media (min-width: 1020px) {
        margin: 0 15px;
      }

      img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

      }

      .article__text {
        padding: 30px 15px;
        text-align: left;
        line-height: 1.75;

        @media (min-width: 615px) {
          padding: 59px 29px 44px 29px;
        }

        h2 {
          font-weight: 800;
          font-size: 19.8px;
          margin: 0 0 4.95px;
        }

        .art-txt1 {
          color: #696969;
          font-size: 14.667px;
          font-weight: 300;
          margin-bottom: 29.33px;
        }

        .art-txt2 {
          color: #696969;
          font-size: 14.667px;
          font-weight: 300;
        }
      }
    }
  }
}
